/*避免未渲染展示*/
[v-cloak] {
	display: none;
}

/*整合fontawesome*/
[class^="el-icon-fa"], [class*=" el-icon-fa"] {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome !important;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.el-header, .el-footer {
	color: #333;
	line-height: 60px;
	border-bottom: 1px solid #eff0f4;
	display:flex;
	align-items:center;
}

.el-aside {
	overflow: visible;
	min-height: 100%;
	color: #333;
	background-color: rgb(84, 92, 100);
	line-height: 200px;
	position: relative;
	margin: 0px;
	padding-left: 0px;
}

.el-menu {
	border-right: 0px;
}

.el-main {
	background-color: #E9EEF3;
	color: #333;
	line-height: 160px;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
	width: 200px;
	min-height: 400px;
}

/*el表单默认样式*/
.el-form {
	width: 380px;
}

/*TODO el-table滚动条问题*/
.el-table__body-wrapper {
	overflow-x: hidden;
}

body > .el-container {
	margin-bottom: 40px;
}

.el-main> .el-breadcrumb {
	width: 100%;
	margin-bottom: 15px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
	line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
	line-height: 320px;
}

body {
	margin: 0px;
}

.my__content {
	min-height: 77%;
	border-radius: 4px;
	background-color: white;
	padding: 20px;
}

.my__filter-container {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6ebf5;
}

.my__filter-container > .my__filter-container__item {
	margin-bottom: 10px;
	margin-right: 10px;
}

.my__filter-container > .el-input{
	width: 180px;
}